<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<h1>Create Product</h1>
<p><a href="/products">Back</a></p>

<span th:text="${message}" style="color: red"></span>

<form action="/create-product" method="post" th:object="${product}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Manufacturer:</td>
            <td><input type="text" th:field="*{manufacturer}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>

</body>
</html>