<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
<h1>List Product</h1>
<p>
    <a href="/create-product">Create product</a>
</p>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${products}">
        <td th:text="${row.id}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.description}"></td>
        <td th:text="${row.manufacturer}"></td>
        <td><a th:href="@{/edit-product/__${row.id}__}">Edit</a></td>
        <td><a th:href="@{/delete-product/__${row.id}__}">Delete</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>